<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body style="background-color: #c6eafa">
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #0e3c5e"
    >
      <a class="navbar-brand" href="{% url 'home'  %}"
        ><img
          src="../../media/290642005_885807026144079_2170594995447926001_n.jpg"
          style="width: 100px; height: 100px"
      /></a>
      <a class="navbar-brand text-white" href="{% url 'home'  %}"
        >مكتبة البراء</a
      >
      <button
        class="navbar-toggler text-right text-white"
        style="background-color: white"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon text-right"></span>
      </button>

      <div
        class="collapse navbar-collapse text-right"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"></li>
          <li class="nav-item dropdown"></li>
          <li class="nav-item"></li>
        </ul>

        <a class="nav-link text-white" href="{%url 'editPrice'%}"
          >صفحة تعديل الأسعار حسب الصنف
          <span class="sr-only">(current)</span></a
        >
        <a class="nav-link text-white" href="{%url 'admin:index'%}">
          صفحة التعديلات الرئيسية <span class="sr-only">(current)</span></a
        >
        <a class="nav-link text-white" href="{% url 'home'  %}"
          >الصفحة الرئيسية <span class="sr-only">(current)</span></a
        >

        <form class="form-inline my-2 my-lg-0" action="" method="post">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            name="search"
            type="search"
            placeholder="البحث عن منتج"
            aria-label="Search"
            autocomplete="off"
          />
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            بحث
          </button>
        </form>
      </div>
    </nav>
    <!-- ***************************items**************************** -->
    <form
      action=""
      method="post"
      enctype="multipart/form-data"
      style="color: #0e3c5e"
    >
      {% csrf_token %}
      <div class="form-row text-right">
        <div class="form-group col-md-6">
          <label for="inputPassword4">:الصنف</label>
          <select
            name="category"
            id="inputState"
            class="form-control text-right"
          >
            {%for cat in category_lists%}
            <option selected value="{{cat.id}}">{{cat.main_category}}</option>
            {%endfor%}
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">:الاسم</label>
          <input
            type="text"
            class="form-control"
            id="inputEmail4"
            name="name"
            placeholder="name"
          />
        </div>
      </div>

      <div class="form-group ml-2">
        <p class="text-right">:الوصف</p>
        <textarea
          id="inputPassword4"
          name="description"
          class="form-control text-right"
          rows="4"
          cols="50"
        ></textarea>
      </div>
      <div class="form-group col-md-12 ml-2 text-right">
        <input type="file" name="images" multiple accept="image/*" />
        <label for="inputCity">:إضافة الصور</label>
      </div>
      <div class="form-row text-right">
        <div class="form-group col-md-6 text-right">
          <label for="inputZip">:السعر</label>
          <input
            type="number"
            name="price"
            class="form-control text-right"
            id="inputZip"
          />
        </div>
        <div class="form-group col-md-6 text-right">
          <label for="inputCity">:اللون</label>
          <input
            type="text"
            name="color"
            class="form-control text-right"
            id="inputCity"
          />
        </div>
      </div>
      <div class="text-center mt-5">
        <button
          type="submit"
          class="btn ml-2"
          style="width: 200px; background-color: #0e3c5e; color: white"
        >
          إضافة
        </button>
      </div>
    </form>
    <!-- ***************************pagenation**************************** -->
    {% include 'footer.html' %}
  </body>
  <!-- Footer -->
</html>
