{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>products_category</title>
  </head>
  <body style="background-color:#C6EAFA;">
    {% include   'navbar.html' %}
  <!-- ***************************items**************************** -->
  <div class="container mb-5">
    <div class="row text-right">
      {%for i, y in context.items%}
        <a href="{% url 'product' y|get_value:'id' %}" style="text-decoration:none">
    <div class="col-md-3 mt-4">
    <div class="card text-white"style="background-color:#0E3C5E">
      {%if y|get_value:'image'%}
      <div class="view overlay zoom">
        <img src="{{ y|get_value:'image'|get_image:'Image'|get_url:'url' }}" class="img-fluid w-100" alt="smaple image">
      </div>
    {% comment %} <img class="card-img-top" src="{{ y|get_value:'image'|get_image:'Image'|get_url:'url' }}" alt="Card image cap" style="width: 100%; height:300px ;"> {% endcomment %}
    {%endif%}
    <div class="card-body">
    <h5 class="card-title ">{{ y|get_value:'name' }}</h5>
    <h5 class="card-title ">{{ y|get_value:'price' }}   S.P</h5>
    </div>
    
    </div>
    </a>
    
    </div>
      
    {%endfor%}
  </div>
 <!-- ***************************pagenation**************************** -->
 {% include  'footer.html' %}
  </body>
<!-- Footer -->
</html>